#macro(dropdownName $dropdownId $dropdownName )
<select id="$dropdownId" name="$dropdownName"></select>

<script>

window.onload=function(){
	var id = "$dropdownId";
	var name = "$dropdownName";
	jQuery.ajax({
			type : "post",
			url : webRoot + "common/getDropDownByName.do?dt=" + new Date().getTime(),
			data : {
				"dropdownName" : name
			},
			success : function(ret) {
				if (ret) {
					//alert(ret.length);
					var html = "<option value=\"\">请选择</option>";
					for(var index = 0 ; index < ret.length; index++){
						html += "<option value=\""+ret[index].id+"\">"+ret[index].text+"</option>";
					}
					$("#"+id).html(html);
				} else {
					alert("系统异常，获取下拉框信息失败！！！");
				}
			}
		});
};
	
</script>
#end