<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>中国银联综合数据服务平台</title>
	<link rel="icon" href="${rc.contextPath}/resources/favicon.ico" mce_href="${rc.contextPath}/resources/favicon.ico" type="image/x-icon">  
	<link rel="shortcut icon" href="${rc.contextPath}/resources/favicon.ico" mce_href="${rc.contextPath}/resources/favicon.ico" type="image/x-icon">
    <link href="${rc.contextPath}/resources/css/site.css" rel="stylesheet" type="text/css">
    <link href="${rc.contextPath}/resources/css/index.css" rel="stylesheet" type="text/css">
    <link href="${rc.contextPath}/resources/css/select2.min.css" rel="stylesheet" type="text/css"></link>
    <link href="${rc.contextPath}/resources/css/nav.css" rel="stylesheet" type="text/css"></link>
    <link href="${rc.contextPath}/resources/css/jquery.datetimepicker.css" rel="stylesheet" type="text/css"></link>
    <script src="${rc.contextPath}/resources/js/jquery.min.js"></script>
    <script src="${rc.contextPath}/resources/js/json2.js"></script>
    <script src="${rc.contextPath}/resources/js/common.js"></script>
	<script src="${rc.contextPath}/resources/js/gzapamJs/commonTemplate.js"></script>
    <script src="${rc.contextPath}/resources/js/jquery.validate.js"></script>
    <script src="${rc.contextPath}/resources/js/PopWin.js"></script>
    <script src="${rc.contextPath}/resources/js/messages_zh.min.js"></script>
    <script src="${rc.contextPath}/resources/js/select2.min.js"></script>
    <script src="${rc.contextPath}/resources/js/jquery.datetimepicker.js"></script>
	<script type="text/javascript">
		var webRoot="$!{rc.contextPath}/";
		//var ubassUrl = "172.17.138.27:8040";
		//用户所属分公司
   		var userCompId = "${user.comp_id}";
   		var userOrgId = "${user.orgId}";
		jQuery(function($){
            // 备份jquery的ajax方法    
            var _ajax=$.ajax;  
            // 重写ajax方法，先判断登录在执行success函数   
            $.ajax=function(opt){  
                var _success = opt && opt.success || function(a, b){};  
                var _opt = jQuery.extend(opt, {  
                    success:function(data, textStatus){  
                        // 如果后台将请求重定向到了失败页，则data里面存放的就是失败页面的源码，这里需要找到data是失败页面的证据(标记)  
                        if(typeof(data)== 'string' && data.indexOf('failPage') != -1) {  
                            window.location.href= webRoot + "fail";  
                            return;  
                        }  
                        // 如果后台将请求重定向到了错误页，则data里面存放的就是错误页面的源码，这里需要找到data是错误页面的证据(标记)  
                        if(typeof(data)== 'string' && data.indexOf('errorPage') != -1) {  
                            window.location.href= webRoot + "error";  
                            return;  
                        }  
                        // 如果后台将请求重定向到了404页，则data里面存放的就是404页面的源码，这里需要找到data是404页面的证据(标记)  
                        if(typeof(data)== 'string' && data.indexOf('404Page') != -1) {  
                            window.location.href= webRoot + "404";  
                            return;  
                        }  
                        // 如果后台将请求重定向到了登录页，则data里面存放的就是登录页的源码，这里需要找到data是登录页的证据(标记)  
                        if(typeof(data)== 'string' && data.indexOf('login.do') != -1) {  
                            window.location.href= webRoot + "login";  
                            return;  
                        }  
                        _success(data, textStatus);    
                    }    
                });  
                _ajax(_opt);  
            };  
        }); 
		
	</script>
    
</head>
<body>
$screen_content

    <div id="myAlert" class="popw"  style="display:none">
    	<div style="width:350px;height:130px;text-align:center">
    		<div style="margin-top:20px" id="myAlertInfo"></div>
    		<div style="margin-top:50px">
    ##			<a class="bt" id="myAlertConfirm"><i></i>确认</a>
    			<button class="bt" id="myAlertConfirm">确认</button>
    			<a style="margin-left: 30px" class="bt return" onclick="myAlertPw.Close()"><i></i>取消</a>
    		</div>
    	</div>
    </div>
    
    <div id="alert" class="popw"  style="display:none">
    	<div style="width:350px;height:50px;text-align:center">
    		<div style="margin-top:20px" id="alertInfo"></div>
    	</div>
    </div>

</body>
<script type="text/javascript">
	var alertPw=new PopWin({id:"alert",title:"提示"});//公用提示框
	var myAlertPw=new PopWin({id:"myAlert",title:"提示"});//公用提示框带确定执行事件
	var updateTelPw=new PopWin({id:"updateTel",title:"修改手机号"});//修改手机号弾框
	var userInfoPw=new PopWin({id:"userInfo",title:"个人信息"});//个人信息弾框
	
	/**
	* 公用提示框
	*/
	function alert(info){
		$("#alertInfo").html("");
		$("#alertInfo").html(info);
		alertPw.Open();
	}
	
	/**
	 * 公共提示框
	 * @param info 提示信息
	 * @param confirm 点击确定执行事件，不带括号的函数名
	 */
	function myAlert(info,confirm){
		$("#myAlertInfo").html("");
		$("#myAlertInfo").html(info);
		$("#myAlertConfirm").unbind("click").click(function(){
			$("#myAlertConfirm").attr("disabled","true");
			myAlertPw.Close();
			confirm();
		});
		myAlertPw.Open();
		$("#myAlertConfirm").removeAttr("disabled");
	}
	
	/**
	 * 关闭公共提示框
	 */
	function closeMyAlert(){
		myAlertPw.Close();
	}
	
	$().ready(function() {
    	// 提交时验证表单
    	$("#updateTelForm").validate({
    		errorPlacement: function(error, element) {  
                error.appendTo(element.parent());  
            },
			rules: {
    			oldTelephone: {
    				required: true,
    				minlength: 11,
					maxlength: 11,
    			},
    			newTelephone: {
    				required: true,
    				minlength: 11,
					maxlength: 11,
    			},
    			smsCode: {
    				required: true,
    				minlength: 6,
					maxlength: 6,
    			}
    		},
    		messages: {
    			oldTelephone: {
    				required: "<font color='red'>必填</font>",
    				minlength: "<font color='red'>11位手机号</font>",
					maxlength: "<font color='red'>11位手机号</font>",
    			},
    			newTelephone: {
    				required: "<font color='red'>必填</font>",
    				minlength: "<font color='red'>11位手机号</font>",
					maxlength: "<font color='red'>11位手机号</font>",
    			},
    			smsCode: {
    				required: "<font color='red'>必填</font>",
    				minlength: "<font color='red'>6位验证码</font>",
					maxlength: "<font color='red'>6位验证码</font>",
    			}
    		}
    	});
    });

	function sendSms(){
		var oldTelephone = $("#updateTelForm #oldTelephone").val();
		var newTelephone = $("#updateTelForm #newTelephone").val();
		if(newTelephone == ""){
			$("#updateTelForm .errorInfo").html("<font color='red'>请填写新手机号！</font>");
		}else if(newTelephone == oldTelephone){
			$("#updateTelForm .errorInfo").html("<font color='red'>新手机号和旧手机号相同！</font>");
		}else{
			$("#updateTelForm .errorInfo").html("");
			jQuery.ajax({
    			type : "post",
    			url : webRoot + "user/sendCode.do?dt=" + new Date().getTime(),
    			data : {
    				"telephone" : newTelephone
    			},
    			success : function(ret) {
    				if (ret) {
						$("#updateTelForm .errorInfo").html("<font color='red'>"+ret+"</font>");
					}
    			}
    		});
		}
	}
	
	function updateTel(){
		var flag = $("#updateTelForm").valid();
		if(!flag){
			return;
		}
		
		var oldTelephone = $("#updateTelForm #oldTelephone").val();
		var newTelephone = $("#updateTelForm #newTelephone").val();
		var smsCode = $("#updateTelForm #smsCode").val();
		
		if(newTelephone == oldTelephone){
			$("#updateTelForm .errorInfo").html("<font color='red'>新手机号和旧手机号相同！</font>");
			return;
		}
		
		jQuery.ajax({
			type : "post",
			url : webRoot + "user/updateTel.do?dt=" + new Date().getTime(),
			data : {
				"oldTelephone" : oldTelephone,
				"newTelephone" : newTelephone,
				"smsCode" : smsCode
			},
			success : function(ret) {
				if (ret!="success") {
					$("#updateTelForm .errorInfo").html("<font color='red'>"+ret+"</font>");
				}else{
					updateTelPw.Close();
					alert("手机号修改成功，5秒后系统将自动退出，请使用新手机号重新登录！");
					setInterval(logout,5000);
				}
					
			}
		});
	}
	
	
##	function logout(){
##		window.location.href=webRoot + "logout.do";
##	}
	
	function logout(){
		jQuery.ajax({
			url:'${rc.contextPath}/logout.do',
			type:'post',
			success:function(ret){
				if("success" == ret){
					window.location.href = "${rc.contextPath}/login"
				}else{
					alert("退出登录失败，请重试！");
					return;
				}
			}
		});
	}
	
	function getPersonalInfo(userId){
		jQuery.ajax({
			type : "post",
			url : webRoot + "user/queryById.do?dt=" + new Date().getTime(),
			data : {
				"id" : userId
			},
			success : function(ret) {
				if (ret) {
					fillDetailForm($("#personalForm #detailTable"),ret);
					userInfoPw.Open();
				}
					
			}
		});
	}
	
</script>
</html>